<h1>Pastry Party!</h1>
<h3>For a Pastry Picnicker</h3>

<img src="/assets/img/cake.png" alt="cheesecake img" class="img">

<div id="contain">
<div id="uneaten" class="left">
    <h2>Pastries Added</h2>
    <hr>
    <ul>
        {{#each shelf}}
        {{#unless eaten}}
        {{>pastry-block eaten=true}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="formdiv" class="left">
    <form id="form">
        <div>
            <label for="name">Name of Pastry: </label>
            <input type="text" id="name" name="name">
        </div>
        <button type="submit" class="submit">Add Pastry</button>
    </form>
</div>

<div id="eaten" class="left">
    <h2>Pastries Eaten</h2>
    <hr>
    <ul>
        {{#each shelf}}
        {{#if eaten}}
        {{>pastry-block eaten=false}}
        {{/if}}
        {{/each}}
    </ul>
</div>
</div>