body{
    background-color: #FAF28F;
}

h1, h3{
    text-align: center;
}

ul, li {
    padding: 1.75%;
}

button {
    border-radius: 50%;
    padding: 3%;
    color: #f13441;
    background-color: #f98b90;
    border-color: #f98b90;
    font-size: 75%;
    box-shadow: 0 4px rgb(197,197,185);
    margin-left: 4%;
    margin-top: 1%;
}

input[type=text] {
    border: none;
    border-bottom: 3px solid rgb(0,170,232);
    background-color: rgb(249,247,128, .3);
  }

.img {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
}

.left {
    float: left;
    margin: 1.5%;
    align-content: center;
    width: 30%;
}

#eaten, #uneaten{
    overflow: auto;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-right-color: #956637;
    border-left-color: #956637;
    border-bottom-color: #00aae8;
    border-top-color: #00aae8;
    padding: 2%;
}

#eaten button #uneaten button {
    font-size: 85%;
}
